dist/img/.DS_Store
dist/img/about-logos/logo-envato.png
dist/img/about-logos/logo-magento.png
dist/img/about-logos/logo-woocommerce.png
dist/img/about-logos/logo-wordpress.png
dist/img/items/item7.png
dist/img/items/item8.png
dist/img/items/item9.png
dist/img/items/pexels-photo-747964.jpeg
dist/img/testimonials/person1.jpg
dist/img/testimonials/person2.jpg
dist/img/testimonials/person3.jpg
dist/img/testimonials/person4.jpg
